<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/newteam" method="post">
     Team Name:<input type="text" name="" value=""><br>
     Coach:<input type="text" name="" value=""><br>
     Point Guard:<input type="text" name="" value=""><br>
     Small Forward:<input type="text" name="" value=""><br>
     Power Forward:<input type="text" name="" value=""><br>
     Center:<input type="text" name="" value=""><br>
     <input type="submit">
   </form>
 </body>
</html>


